* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}
body {
  background-color: rgb(213, 215, 216);
}
header {
  background-image: url(./assets/design1_image1.jpg);

  width: 100vw;
  height: 300px;
  background-size: cover;
}
h1 {
  color: white;
  padding: 10px 0 0 20px;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  text-shadow: #000 0.1em 0.1em;
}
div > h2 {
  background-color: black;
  width: 100vw;
  color: white;
  text-align: center;
}
h2 {
  padding: 0.6rem;
}
#imgLogo {
  width: 10%;
  position: relative;
  left: 870px;
  top: 220px;
}
#imgLogo:hover {
  transition: 5s;
  transform: translate(-730px);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
nav > a {
  text-decoration: none;
  background: #000;
  transition: 1s;
  width: 50%;
  margin: 40px 0px 0px 20px;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font: size 1.2em;
  color: coral;
  box-shadow: #615d5d 0.3em 0.5em;

  transition: 1s;
  border: #2d2a2a solid 1px;
}

a:hover {
  color: white;
  background-color: rgb(233, 7, 7);
}
a:active {
  color: red;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}
section > h3 {
  font-size: 1.2em;
  padding: 1rem 0 1rem 0;
}

section > p {
  font-size: 1.2em;
}
.image {
  margin-top: 2em;
  width: 500px;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: gray 0.4em 0.9em;
}
.image:hover {
  transition: 5s;
  transform: translate(400px);
}
#image_3 {
  position: relative;
  top: 200px;
}
#contact {
  position: relative;
  top: -80px;
}
