* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}
body {
  background-color: rgb(213, 215, 216);
}
header {
  background-image: url(./assets/design1_image1.jpg);

  width: 100vw;
  height: 300px;
  background-size: cover;
}
h1 {
  color: white;
  padding: 10px 0 0 20px;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 3rem;
}
div > h2 {
  background-color: black;
  width: 100vw;
  color: white;
  text-align: center;
}
h2 {
  padding: 0.6rem;
}
#imgLogo {
  width: 10%;
  position: relative;
  left: 870px;
  top: 220px;
}
#imgLogo:hover {
  transition: 5s;
  transform: translate(-730px);
}
nav {
  width: 50%;
}
nav > a {
  position: relative;
  top: 50px;
  display: block;
  text-decoration: none;
  background: #000;
  transition: 1s;
  width: 40%;
  margin: 40px 0px 0px 20px;
  padding: 0.7rem;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  color: coral;

  transition: 1s;
  border: #000 solid 1px;
}

a:hover {
  color: white;
  background-color: rgb(233, 7, 7);
}
section {
  width: 49%;
  position: relative;
  left: 450px;
  top: -200px;
}
section > h3 {
  font-size: 1.2em;
  padding: 1rem 0 1rem 0;
}

section > p {
  font-size: 1.2em;
}
.image {
  width: 500px;
  position: relative;
  left: 100px;
  bottom: 100px;
  border: 3px solid black;
  border-radius: 3px;
}
.image:hover {
  transition: 5s;
  transform: translate(400px);
}
#image_3 {
  position: relative;
  top: 200px;
}
#contact {
  position: relative;
  top: -80px;
}
