* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}
body {
  background-color: rgb(213, 215, 216);
}
header {
  display: flex;
  justify-content: space-between;
  background-image: url(./assets/design1_image1.jpg);

  width: 100vw;
  height: 300px;
  background-size: cover;
}
h1 {
  color: white;
  padding: 10px 0 0 0px;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  text-shadow: #000 0.1em 0.1em;
}
#imgLogo {
  height: 30vh;
  border: #000 2px solid;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 10vh;
}
.subtittle {
  background-color: black;
  width: 100vw;
  color: white;
  text-align: center;
}
h2 {
  padding: 0.6rem;
}

#imgLogo:hover {
  transition: 2s;
  transform: translate(-1000px);
}

main {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.main-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.main-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-game-info {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 80vw;
  gap: 2rem;
  align-content: center;
}

.main-form {
  display: flex;
  justify-content: center;
}

nav {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-about {
  display: flex;
  width: 20vw;
  justify-content: start;
  margin-top: 10vh;
}
.nav-home {
  display: flex;
  width: 20vw;
  margin-top: 10vh;
  margin-right: 20vw;
  justify-content: start;
}

.nav-contact {
  display: flex;
  width: 20vw;
  margin-top: 10vh;
}

.nav-rules {
  display: flex;
  width: 20vw;
  margin-top: 10vh;
}
nav > a {
  text-decoration: none;
  background: #000;
  transition: 1s;
  width: 15vw;
  margin: 0 0 0 5vw;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font: size 1.2em;
  color: coral;
  box-shadow: #615d5d 0.3em 0.5em;
  transition: 0.5s;
  border: #2d2a2a solid 1px;
}
/*media query*/

@media screen and (max-width: 427px) {
  .main-home {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .nav-home {
    width: 100%;
    margin-top: 10vh;

    justify-content: center;
  }
  nav > a {
    text-decoration: none;
    background: #000;
    transition: 1s;
    width: 80%;
    margin: 0 0 0 5vw;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font: size 1.2em;
    color: coral;
    box-shadow: #615d5d 0.3em 0.5em;
    transition: 0.5s;
    border: #2d2a2a solid 1px;
  }
  #imgLogo {
    height: 10vh;
    border: #000 2px solid;
    border-radius: 50%;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 10vh;
  }
  .image-1 {
    margin-top: 2em;
    width: 50%;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: gray 0.4em 0.9em;
  }
  .main-about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container-about {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-about {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 5%;
  }
}
.nav-form {
  display: flex;
  width: 20vw;
  margin-top: 15vh;
  margin-right: 15vw;
  justify-content: start;
}

a:hover {
  color: white;
  background-color: rgb(233, 7, 7);
  flex-grow: calc(0.1rem);
}
.active {
  color: red;
}
.container-about {
  margin: 6vw 0 0 15vw;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}
.container-home {
  margin: 6vw 0 0 15vw;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}
.container-rules-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-rules-2 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10rem 10rem 10rem 10rem;
}
.container-rules-2 > p li h2 {
  padding: 1rem;
  margin: 5rem 0 5rem 0;
  text-align: center;
}
.titulo-rules {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50vw;
}
.section-rules {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > h3 {
  font-size: 1.2em;
  padding: 1rem 0 1rem 0;
}

section > p {
  font-size: 1.2em;
}
.image {
  margin-top: 2em;
  width: 500px;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: gray 0.4em 0.9em;
}
.image:hover {
  transition: 5s;
  transform: translate(500px);
}
#image_3 {
  position: relative;
  top: 200px;
}

.container-contact {
  margin: 6vw 0 0 15vw;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}
table {
  border: #f5faf7 2px solid;
  border-radius: 15px;
}

tr,
th,
td {
  border: #8cedae 2px solid;

  text-align: center;
  max-width: 60vw;
  background-color: rgb(23, 69, 69);
  color: aliceblue;
  border-collapse: collapse;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}
td > a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 0.3em;
}
thead > tr {
  background-color: rgb(3, 36, 36);
}
footer {
  width: 80vw;
  margin: 10px;
  padding: 1rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vw;
  border: #000 2px solid;
  border-radius: 4px;
  box-shadow: #2d2a2a 3px 3px;
  background-color: rgb(240, 240, 189);
  margin-right: 10vw;
  margin-top: 5vw;
  margin-bottom: 10vh;
  padding: 0.7rem;
}
fieldset {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #9cfabd;
  box-shadow: #615d5d 4px 4px;
}
fieldset > p {
  padding: 0.5rem;
}
.mapa {
  height: 2700px;
  width: 70vw;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(97, 97, 116);
  border: #2d2a2a solid 2px;
  border-radius: 5px;
  box-shadow: 4px 4px rgb(34, 40, 110);
}
.mapa-1 .mapa-2 .mapa-3 .mapa-4 {
  margin: 30px;
}
.iframe {
  border-radius: 5px;
}
